<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="frontPage.css">
</head>
<body>
   <div id="container1"> 
</div>
<img src="./FrontPage/100.png" id="img100">
<img src="./FrontPage/img3.png" id="img1">
<img src="./FrontPage/copyright.png" id="img2">
<p id="copyrights">Copyrights 2025 | By Suriya</p>
<a href="AddEmployee.html"><button id="Register">Register</button></a>
<a href="Database.html"><button id="View">View</button></a>
<h1 id="Topics">Employee Management System</h1>
<h1 id="Topics1">Employee Management System</h1>
<p id="quote">-Empowered by Employment</p>
</body>
</html>